<ion-header>
  <ion-button (click)="goToListInventory()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-title class="toto">{{inventoryLabel}}</ion-title>
</ion-header>

<ion-content>

  <div padding class="forms">
    <ion-item>
      <ion-input [clearOnEdit]=true [clearInput]=true [(ngModel)]="newItemName" placeholder="Nom objet"></ion-input>
      <ion-button (click)="createNewItem()">Ajouter</ion-button>
    </ion-item>
  </div>

  <ion-list *ngFor="let item of itemList;let indexOfelement=index;">

    <ion-item-sliding>

      <ion-item>
        <h5>{{item.label}}</h5>

        <ion-item slot="end" lines="none">
          <ion-button shape="round" size="default" fill="clear" (click)="buttonMinusPressed(indexOfelement)">
            <ion-icon size="large" name="remove-circle-outline"></ion-icon>
          </ion-button>

          Qté: {{item.quantity}}

          <ion-button shape="round" size="default" fill="clear" (click)="buttonPlusPressed(indexOfelement)">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-item>

      <ion-item-options>
        <ion-item-option color="danger" (click)="deleteItem(item.id)">

          <ion-icon slot="end" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>
  <ion-button class="addToCartButton" (click)="generateBox()">
    Générer carton
  </ion-button>
</ion-content>
