
ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}

a{
    color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.forms{
    width: 90%;
    padding-bottom: 5vh;
    }

    img{
        background-color: #fff;
        border-radius: 40px;
        margin: 0;
        padding: 0;
        width: 50%;
        margin-left: 25%;
    }

    .help {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
