

<ion-content [fullscreen]="true">

    <ion-button (click)="askUser()" [hidden]="!scannerButton"      expand="block" 
    class="ion-margin" >
      Scanner
    </ion-button>
    <ion-button       expand="block" 
    class="ion-margin" (click)="stopScan()" [hidden]="!scanActive">
      Close
    </ion-button>
  
    <div *ngIf="scannedResult">
      <h2 style="text-align: center;"> {{scannedResult[0]?.boxName}} </h2>
      <ion-list  *ngFor="let item of scannedResult" >
        <ion-item>
          {{item?.itemName}} | {{item?.quantity}}
        </ion-item>
      </ion-list>
    </div>
</ion-content>
<ion-footer >

</ion-footer>