<ion-header>
  <ion-toolbar>
    <ion-title>Mes cartons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list  *ngFor="let box of boxList" >

    <ion-item-sliding>

      <ion-item (click)="goToQrcode(box)">
       <h5>{{box.label}}</h5>
      </ion-item>

    <ion-item-options>
      <ion-item-option color="danger" (click)="deleteBox(box.id)">

      <ion-icon slot="end" name="trash"></ion-icon>
      Supprimer
    </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
  </ion-list>
</ion-content>
