<ion-content >
  <swiper [config]="config" class="swiper-container">
    <ng-template swiperSlide>
      <ion-text color="light">
        <img src="..\..\assets\images\pnmLogo.png">
        <div class="container">
          <h1>Hey Pssst !</h1>
          <p>Bienvenue sur la Pack'N Move !</p>
        </div>
      </ion-text>
    </ng-template>
    <ng-template swiperSlide>
      <ion-text color="light">
        <img src="..\..\assets\images\pnmLogo.png">
        <div class="container">
          <h1>Facile</h1>
          <p>Avec cette application vous pourrez gérer les cartons de votre déménagement sans prise de tête</p>
        </div>
      </ion-text>
    </ng-template>
    <ng-template swiperSlide>
      <ion-text color="light">
        <img src="..\..\assets\images\pnmLogo.png">
        <div class="container">
          <h1>Rapide</h1>
          <p>Avec cette application vous pouvez trouver vos affaires plus rapidement</p>
        </div>
        <ion-button (click)="start()" fill="outline" color="light">Start</ion-button>
      </ion-text>
    </ng-template>
  </swiper>
</ion-content>
